@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-style: Montserrat;
}

li {
    list-style-type: none;
}

button {
    outline: none;
    background: none;
    border: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-style);
}
html,body{
    height: 100%;
}
.main{
    flex: 1 0 auto;
}
.footer{
    flex: 0 0 auto;
}
.padding__left {
    padding-left: 100px;
}
.main__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25vh 0;
    gap: 30px;
}
.info__button{
    padding: 20px 40px;
    background: #D9D9D9;
    cursor: pointer;
}
.font700{
    font-weight: 700;
}